/**
 * WHITE: #fff
 * RED: #c72e4f
 * CREAM: #f5ebe3
 * TAN: #c49475
 * BROWN: #442317
 */

html, body {
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #f5ebe3;
  padding: 16px;
}

.hero {
  background: url(./images/hero.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.hero .text {
  font-family: 'Parisienne', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 150px;
  line-height: 100px;
  text-shadow: 5px 5px 10px #000;
  opacity: 0.6;
  text-align: center;
}

.page .title {
  font-family: 'Parisienne', cursive;
  font-size: 100px;
  color: #c49475;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .hero .text {
    font-size: 70px;
    line-height: 70px;
  }

  .page .title {
    font-size: 40px;
  }
}
